<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire mouvement</title>
    <link rel="stylesheet" href="css/etatstock.css" />
    <style type="text/css"></style>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <form action="">
          <div class="title">Formulaire de mouvement</div>
          <hr class="ligne" />
          <div class="form">
            <label for="">
              <div class="text">Date :</div>
              <input type="datetime-local" name="" id="" />
            </label>
            <label for="">
              <div class="text">Article :</div>
              <select name="" id="">
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
              </select>
            </label>
            <label for="">
              <div class="text">Quantité :</div>
              <input type="number" name="" id="" />
            </label>
            <label for="">
              <div class="text">Magasin :</div>
              <select name="" id="">
                <option value="">1</option>
                <option value="">1</option>
                <option value="">1</option>
              </select>
            </label>
            <label for="">
              <input type="submit" value="Valider" />
            </label>
          </div>
        </form>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>
