<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>etat stock</title>
    <link rel="stylesheet" href="css/table.css" />
    <style type="text/css"></style>
  </head>
  <body>
    <div class="container">
      <div class="title">Etat De Stock</div>
      <table>
        <tr class="title_row">
          <th>Article</th>
          <th>Unite</th>
          <th>TypeStock</th>
          <th>Magasin</th>
          <th>Quantité Initiale</th>
          <th>Sortant</th>
          <th>Montant</th>
          <th>PU</th>
        </tr>
        <tr>
          <td>rouge</td>
          <td>kg</td>
          <td>lifo</td>
          <td>Magasin 1</td>
          <td>1000</td>
          <td>2000</td>
          <td>1000</td>
          <td>20.0</td>
        </tr>
        <tr>
          <td>rouge</td>
          <td>kg</td>
          <td>lifo</td>
          <td>Magasin 1</td>
          <td>1000</td>
          <td>2000</td>
          <td>1000</td>
          <td>20.0</td>
        </tr>
        <tr>
          <td>rouge</td>
          <td>kg</td>
          <td>lifo</td>
          <td>Magasin 1</td>
          <td>1000</td>
          <td>2000</td>
          <td>1000</td>
          <td>20.0</td>
        </tr>
        <tr>
          <td>rouge</td>
          <td>kg</td>
          <td>lifo</td>
          <td>Magasin 1</td>
          <td>1000</td>
          <td>2000</td>
          <td>1000</td>
          <td>20.0</td>
        </tr>
        <tr>
          <td
            style="
              text-align: right;
              background: #000;
              color: #fff;
              font-weight: 600;
              padding-right: 10px;
            "
          >
            Somme Montant
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>50000</td>
          <td></td>
        </tr>
      </table>
      <a class="link" href="http://">Retour</a>
    </div>
  </body>
</html>
